<section>
	<h1>We zijn in jaartal $1971 en we bevinden ons op de $spuistraat </h1>
	<div class="data">
	<% for(var i = 0; i < dataFirstQuery.results.bindings.length; i++) { %>
		<div>
			<img src="<%- dataFirstQuery.results.bindings[i].img.value %>" alt="dataFirstQuery.results.bindings[i].title.value"/>
			<p>	<%- dataFirstQuery.results.bindings[i].title.value %></p>
		</div>
	<% } %>
	</div>
</section>
