<%- include('partials/head.ejs') %>
	<body class="new-story">
		<h1>New story page</h1>

		<select id="radius-selected" name="radius">
			<option value="0.5" selected>500 m</option>
			<option value="1">1 km</option>
			<option value="2">2 km</option>
			<option value="3">3 km</option>
			<option value="4">4 km</option>
			<option value="5">5 km</option>
			<option value="10">10 km</option>
			<option value="25">25 km</option>
			<option value="50">50 km</option>
		</select>

		<form class="search-location" action="/search-location" method="post">
			<input type="text" name="searchLocation" placeholder="Zoek een locatie" value="" autocomplete="off">
			<button type="submit">Zoek</button>
		</form>

		<% if (data !== null && data !== undefined) { %>
			<% data.forEach(function (street) { %>
				<div><%= street.name.value %></div>
			<% }); %>
		<% } %>

		<div id='map'></div>

		<form class="location-and-timestamp" action="/create-story" method="post">
			<input type="range" min="1900" max="2018" multiple value="1971,1976" />
			<output id="rangevalueMin" name="timestamp-min">1971</output>
			<output id="rangevalueMax" name="timestamp-max">1976</output>
			<button type="submit">Maak een verhaal</button>
		</form>
		<script>
			window.data = <%- JSON.stringify(data || null) %>;
			console.log(window.data)
		</script>
<%- include('partials/foot.ejs') %>
