#map {
	width: 80vw;
	height: 50vh;
	margin-left: 10vw;
}

.mapboxgl-ctrl-logo {
	display: none !important;
}

.mapboxgl-ctrl-bottom-right {
	display: none;
}

input[type="range"] {
	width: 90vw;
	margin-left: 10vw;
}

output {
	display: inline-block;
	width: 50vw;
}
